<!--
<div class="container">
  <p>EJ Challenge v1.0.0 |
    <a href="http://angular-fullstack.github.io/generator-angular-fullstack">Documentation</a> |
    &lt;!&ndash;<a href="https://gitter.im/DaftMonk/generator-angular-fullstack">Chat on Gitter</a> |&ndash;&gt;
    <a href="https://github.com/angular-fullstack/generator-angular-fullstack/issues?state=open">Issues</a> |
    &lt;!&ndash;<a href="https://opencollective.com/angular-fullstack">Donate to our Open Collective</a>&ndash;&gt;
  </p>
</div>
-->
